/* Example: App.css */

.ab{
    display: flex;
    justify-content: center;
}
.about{
    width: 85%;
    padding:50px 20px;
    margin-top: 80px;
    flex-wrap: wrap;

}
@media (max-width: 1024px) {
  .about {
    height: auto;
  }
}
@media (max-width: 768px) {
  .about {
    height: auto;
    
  }
}

.about-p1{
    font-size: 24px;
    font-weight: 600;
    color: var(--blue);
}
@media (max-width: 1024px) {
  .about-p1 {
    font-size:20px ;
  }
}
@media (max-width: 768px) {
  .about-p1 {
      font-size:18px ;
  }
}
.about-h1{
    font-size: 4.5vw;
}
@media (max-width: 768px) {
  .about-h1 {
      font-size: 8vw;
  }
}

.about-image{
    width: 100%;
    height: 700px;
    display: flex;
}
@media (max-width: 768px) {
  .about-image {
      height: auto;
      display: block;
  }
}
.image{
    width: 50%;
    height:700px;
    
    display: flex;
    align-items: center;
    
    
}
@media (max-width: 1024px) {
  .image {
    height: auto;
  }
}
@media (max-width: 768px) {
  .image {
    width: 100%;
    margin-top: 30px;
      
  }
}

.image img{
    width: 85%;
    border-radius: 50px;
}
@media (max-width: 768px) {
  .image img {
    width: 100%;
      
      margin-bottom: -150px;
      
  }
}
.about-content{
    width: 50%;
    height:700px;
    display: flex;
    align-items: center;
    
}
@media (max-width: 768px) {
  .about-content {
      width: 100%; 
      
      
  }
}
.about-content-p1{
    font-size: 18px;
    color: rgb(151, 151, 151);
    line-height: 1.8vw;
}
@media (max-width: 768px) {
  .about-content-p1 {
     font-size: 16px;
     line-height:20px;
     margin-top: 180px;
     
  }
}
.about-content-p1 h4{
  color: black;
  margin-bottom: 5px;
}

.about-b1{
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    color: white;
    background-color: var(--blue);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}