.servs{
    width: 80%;
    
}
.ser {
    width: 100%;
    min-height: 140vh; /* full screen height if needed */
  height: auto;  
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    
  }
  
  @media (max-width: 1024px) {
    .ser {
      height: auto;
    }
  }
  @media (max-width: 768px) {
    .ser {
      height: auto;
      
     
    }
  }
  
  .ser-head {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 270px;
  }
  
  @media (max-width: 768px) {
    .ser-head {
      flex-direction: column;
      
      
    }
  }
  
  .ser-headcontent {
    flex: 1;
  }
  
  .ser-p1 {
    font-size: 22px;
    font-weight: 500;
    color: var(--blue);
  }
  
  @media (max-width: 1024px) {
    .ser-p1 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .ser-p1 {
      font-size: 18px;
    }
  }
  
  .ser-h1 {
    font-size: 4.5vw;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .ser-h1 {
      font-size: 8vw;
    }
  }
  
  .ser-b1 {
    margin-top: 100px;
  }
  
 @media (max-width: 768px) {
    .ser-b1 {
      margin-top: 20px;
    }
  }
  
  .ser-b1 button {
    padding: 10px 20px;
    border-radius: 100px; 
    border: none;
    color: white;
    background-color: var(--blue);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .ser-b1 img{
    margin-top: -10px;
    margin-bottom: -5px;
  }
  .ser-card{
    margin-top: 40px;
    display:flex ;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
  }
 @media (max-width: 768px) {
    .ser-card {
      margin-bottom: 10px;
    }
  }
  .scard1{
    width: 400px;
  height: 380px;
  border-radius: 30px;
  background-color: white;
  padding: 30px;
  margin-bottom: -45px;
  margin-top: 80px;
  position: relative;
  }
  @media (max-width: 1024px) {
    .scard1 {
      width: 300px;
      height: 350px; 
    }
  }
  
  @media (max-width: 768px) {
    .scard1 {
      width: 100%;
      height: auto;
    }
  }
  .scard1-top{
    display: flex;
    flex-direction: column;
  }
  .scard1-btn button {
    padding: 20px;
    border-radius: 100px;
    border: none;
    color: white;
    background-color: var(--blue);
    position: absolute;
    top: 30px;    
    right: 30px;   
  }
  
  @media (max-width: 1024px) {
    .scard1-btn button {
      padding: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .scard1-btn button {
      top: 20px;
      right: 20px;
    }
  }
  .scard1 hr{
    margin-top: 20px;
    opacity: 50%;
    margin-bottom: 20px;
  }
  .scard1-image {
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .scard1-image img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.9s ease;
    
  }
  
  @media (max-width: 768px) {
    .scard1-image img {
      height: 220px;
    }
  }
  .scard1:hover .scard1-image img {
    transform: scale(1.2);
  }
 .ser-card a{
  text-decoration: none;
  color: inherit;
 }

  
  

  