
.info{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
    .container-cp {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      overflow: hidden;
      margin-top: 50px;
    }
    @media (max-width: 768px) {
      .container-cp {
        flex-direction: column;
      }

      .image-section {
        order: -1;
      }
    }
    .contact-form {
      background:var(--lightblue);
      padding: 50px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 40%;
      border: none;
      
    }
        @media (max-width: 768px) {
      .contact-form {
        width: 100%;
        
      }

      
    }

    .contact-form h1 {
      text-align: center;
      margin-bottom: 20px;
      
    }

    .form-group {
      margin-bottom: 15px;
    }
    .image-section {
      flex: 1;
      display: flex;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      
    }

    .image-section img {
      width: 100%;
      
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: 600;
    }

    input, select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      border: 1px solid var(--blue);
    }
    .form-group button{
        width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
    }
   

    .form-group button {
      background-color:var(--blue);
      color: white;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s;
    }
    .form-group-p1{
      font-weight: 800;
      text-align: center;
    }
    .otp-box{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .otp-box input{
      width: 40px;
      height: 40px;
    }
       .form-verify button{
        width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
    }
   

    .form-verify button {
      background-color:#45a049;
      color: white;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s;
    }
    .form-verify button:disabled {
      background-color: rgb(210, 203, 255);
      cursor: not-allowed;
      color: white;
      font-weight: bold;
      transition: background 0.3s;
    }
    .form-group button:hover {
      background-color: #45a049;
    }

    .btn-secondary {
      background-color: #007BFF;
    }

    .btn-secondary:hover {
      background-color: #0056b3;
    }
    .form-textarea{
      margin-bottom: 15px;

    }
     .form-textarea input{
      height: 100px;
      
    }


.map-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.map-details h2 {
  margin-bottom: 20px;
  color: #333;
}
.map-details p {
  margin-bottom: 20px;
  color: #333;
}

.contact-columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-box {
  flex: 1;
  min-width: 200px;
  background-color:var(--blue);
  
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-box p {
  margin: 0;
  color: white;
  font-size: 15px;
  line-height: 1.6;
}

