.p1{
 color: var(--blue);
 background-color: transparent;
 font-size: 24px;
 font-weight: 500;
}
.banner-gr-content h1{
    font-size:6vw;
    color:white;
    margin-bottom: 20px;
}

.banner-gr-content span{
    color: var(--blue);
    background-color: transparent;
}
.p2{
    background-color: transparent;
    color: white;
    font-size: 20px;
}
.banner-gr-b1{
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    color:white;
    
    background-color:var(--blue);
    margin-left: 30px;
    font-size: 16px;
    
}
.banner-gr-b1 a{
    color:white;
    text-decoration: none;
}
.ab-gr{
    display: flex;
    justify-content: center;
}
.about-gr{
    width: 85%;
    height: 700px;
    margin-top: 100px;
    flex-wrap: wrap;

}
@media (max-width: 1024px) {
.about-gr {
  height: auto;
}
}
@media (max-width: 768px) {
.about-gr {
  height: 1050px;
}
}

.about-gr-p1{
  font-size: 22px;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
.about-gr-p1 {
  font-size:18px ;
}
}
@media (max-width: 768px) {
.about-gr-p1 {
    font-size:18px ;
    margin-top: 100px;
}
}
.about-gr-h1{
  font-size: 50px;
  margin-bottom: 20px;
  
}
@media (max-width: 768px) {
.about-gr-h1 {
    font-size:25px ;
}
}

.about-gr-image{
  width: 100%;
  height: 700px;
  display: flex;
}
@media (max-width: 768px) {
.about-gr-image {
    height: auto;
    display: block;
}
}
.image-gr{
  width: 50%;
  height:700px;
  
  display: flex;
  align-items: center;
  
  
}
@media (max-width: 1024px) {
.image-gr {
  height: auto;
}
}
@media (max-width: 768px) {
.image-gr {
  width: 100%;
  
    
}
}

.image-gr img{
  width: 85%;
  border-radius: 50px;
}
@media (max-width: 768px) {
.image-gr img {
  width: 100%;
    margin-top: 50px;
    margin-bottom: -150px;
    
}
}
.about-gr-content{
  width: 50%;
  height:700px;
  display: flex;
  align-items: center;
  
}
@media (max-width: 768px) {
.about-gr-content {
    width: 100%; 
    margin-bottom: -100px;
    height: 900px;
}
}
.about-gr-content-p1{
  font-size: 16px;
  color: rgb(151, 151, 151);
  line-height: 22px;
}


.about-gr-b1{
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  color: white;
  background-color: var(--blue);
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}