.gr-price{
    width: 100%;
    height: 900px;
    background-color:white;
    display: flex;
    justify-content: center;
}
@media (max-width: 1024px) {
  .eweb-price {
    height:auto;
  }
}
@media (max-width: 768px) {
  .eweb-price {
    height: auto;
  }
}
.pacakage-gr{
    width: 85%;
  
}
@media (max-width: 1024px) {
  .package-gr {
    height:auto;
  }
}
@media (max-width: 768px) {
  .package-gr {
    width: 80%;
    height: auto;
  }
}
.package-gr-head{
    
  background-color:transparent;
  display: flex;
  align-items: center;
  height: 250px;

}
.package-gr-headcontent{
    width: 80%;
    margin-top: 100px;
}

.package-gr-p1{
  font-size: 22px;
  font-weight: 500;
  color: var(--blue);
  background-color: transparent;
}
@media (max-width: 1024px) {
  .package-gr-p1 {
    font-size:20px ;
  }
}
@media (max-width: 768px) {
  .package-gr-p1 {
      font-size:18px ;
  }
}
.package-gr-h1{
  font-size: 4.5vw;
  background-color: transparent;
}


.package-gr-card{
 
  margin-top: 80px;
  display:flex ;
  justify-content: space-around;
  
  padding: 0;
  flex-wrap: wrap;
  
}

.package1-gr{
  width: 330px;
  height: auto;
  border-radius: 30px;
  background-color:var(--lightblue);
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
  
  
}
@media (max-width: 1024px) {
.package1-gr{
  width: 300px;
  height: 350;
 
}
}
@media (max-width: 768px) {
.package1-gr {
  width: 400px;
  height: auto;
  
}
}
.package1-gr h1{
  font-size: 2.9vw;
  color: var(--blue);
  margin-top: 10px;
  margin-bottom: 10px;
}
.pack-gr-info{
text-align:left;
line-height: 50px;
}

.package1-gr h5{
  font-size:20px;
}
.package1-gr .fa-solid{
  color: var(--blue);
}
.package1-gr-top h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.pack-gr-info p svg {
  color:var(--blue);
}
.package1-gr h5 svg {
  color:var(--blue);
}
.pack-info-gr p {
    font-size: 16px;
}


.package2-gr{
  width: 330px;
  height: auto;
  border-radius: 30px;
  background-color:var(--blue);
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  
  
}
@media (max-width: 1024px) {
.package2-gr{
  width: 300px;
  height: 350;
 
}
}
@media (max-width: 768px) {
.package2-gr {
  width:400px;
  height: auto;
  
}
}
.package2-gr h1{
  font-size: 2.9vw;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pack-gr-info2{
text-align:left;
line-height: 50px;
}

.package2-gr h5{
  font-size:20px;
}

.package2-gr-top h3{
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}
.pack-info2-gr p svg {
  color:white;
}
.package2-gr h5 svg {
  color:white;
}
.pack-info2-gr p {
    font-size: 16px;
}
.pack-gr-button {
  margin-top: auto;
  text-align: center;
}

.pack-gr-button button {
  background-color: var(--lightblue);
  color: var(--blue);
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 18px;
  margin-top: 15px;
}

.pack-gr-button button:hover {
  background-color:var(--blue);
  color: white;
}
.pack2-gr-button button {
  background-color: var(--blue);
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 18px;
  margin-top: 15px;
}

.pack2-gr-button button:hover {
  background-color:var(--lightblue);
  color: var(--blue);
}
