.eweb-price{
    width: 100%;
    height: 900px;
    background-color:white;
    display: flex;
    justify-content: center;
}
@media (max-width: 1024px) {
  .eweb-price {
    height:auto;
  }
}
@media (max-width: 768px) {
  .eweb-price {
    height: auto;
  }
}
.pacakage-br{
    width: 85%;
  
}
@media (max-width: 1024px) {
  .package-br {
    height:auto;
  }
}
@media (max-width: 768px) {
  .package-br {
    width: 80%;
    height: auto;
  }
}
.package-br-head{
    
  background-color:transparent;
  display: flex;
  align-items: center;
  height: 250px;

}
.package-br-headcontent{
    width: 80%;
    margin-top: 100px;
}


.package-br-p1{
  font-size: 22px;
  font-weight: 500;
  color: var(--blue);
  background-color: transparent;
}
@media (max-width: 1024px) {
  .package-br-p1 {
    font-size:20px ;
  }
}
@media (max-width: 768px) {
  .package-br-p1 {
      font-size:18px ;
  }
}
.package-br-h1{
  font-size: 70px;
  background-color: transparent;
}
@media (max-width: 768px) {
  .package-br-h1 {
      font-size:35px ;
  }
}


.package-br-card{
 
  margin-top: 80px;
  display:flex ;
  justify-content: space-around;
  
  padding: 0;
  flex-wrap: wrap;
  
}

.package1-br{
  width: 330px;
  height: auto;
  border-radius: 30px;
  background-color:var(--lightblue);
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
  
  
}
@media (max-width: 1024px) {
.package1-br{
  width: 300px;
  height: 350;
 
}
}
@media (max-width: 768px) {
.package1-br {
  width: 400px;
  height: auto;
  
}
}
.package1-br h1{
  font-size: 40px;
  color: var(--blue);
  margin-top: 10px;
  margin-bottom: 10px;
}
.pack-br-info{
text-align:left;
line-height: 50px;
}

.package1-br h5{
  font-size:20px;
}
.package1-br .fa-solid{
  color: var(--blue);
}
.package1-br-top h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.pack-info-br p svg {
  color:var(--blue);
}
.package1-br h5 svg {
  color:var(--blue);
}
.pack-info-br p {
    font-size: 16px;
}


.package2-br{
  width: 330px;
  height: auto;
  border-radius: 30px;
  background-color:var(--blue);
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  
  
}
@media (max-width: 1024px) {
.package2-br{
  width: 300px;
  height: 350;
 
}
}
@media (max-width: 768px) {
.package2-br {
  width:400px;
  height: auto;
  
}
}
.package2-br h1{
  font-size: 40px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pack-br-info2{
text-align:left;
line-height: 50px;
}

.package2-br h5{
  font-size:20px;
}

.package2-br-top h3{
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}
.pack-info2-br p svg {
  color:white;
}
.package2-br h5 svg {
  color:white;
}
.pack-info2-br p {
    font-size: 16px;
}
.pack-br-button {
  margin-top: auto;
  text-align: center;
}

.pack-br-button button {
  background-color: var(--lightblue);
  color: var(--blue);
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 18px;
  margin-top: 15px;
}

.pack-br-button button:hover {
  background-color:var(--blue);
  color: white;
}
.pack2-br-button button {
  background-color: var(--blue);
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 18px;
  margin-top: 15px;
}

.pack2-br-button button:hover {
  background-color:var(--lightblue);
  color: var(--blue);
}
