.banner-wd{
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    
}
.banner-wd img{
    width: 100%;
    
    
}
.black-banner-wd{
    width: 100%;
    height: 500px;
    background-color:rgb(0, 0, 0,0.2);
    position: absolute
}
.banner-wd-content{
    margin-top: 90px;
    width: 80%;
    position: absolute;
    background-color:transparent ;
    text-align: center;
}
.p1{
 color: var(--blue);
 background-color: transparent;
 font-size: 24px;
 font-weight: 500;
}
.banner-wd-content h1{
    background-color: transparent;
    font-size:4.5vw;
    color:white;
}

.banner-wd-content span{
    color: var(--blue);
    background-color: transparent;
}
.p2{
    background-color: transparent;
    color: white;
    font-size: 20px;
}
.banner-wd-b1{
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    color:var(--blue);
    border: 2px solid var(--blue);
    background-color:var(--lightblue);
    margin-left: 30px;
    font-size: 16px;
    
}
.banner-wd-b1 a{
    color: var(--blue);
    text-decoration: none;
}
.ser01{
    width: 100%;
    height: 1050px;
    background-color: white;
    display: flex;
    justify-content: center;
    
  }
    @media (max-width: 1024px) {
    .ser01 {
      width: 300px;
      height: 350px; 
    }
  }
  
  @media (max-width: 768px) {
    .ser01 {
      width: 100%;
      height: auto;
      margin-bottom: 100px;
    }
  }
  .servs01{
    width: 85%;
  }
.ser01-card{
    margin-top: 20px;
    display:flex ;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
  }
  .scard01{
    width: 350px;
  height: 350px;
  border-radius: 30px;
  background-color: var(--lightblue);
  padding: 30px;
  margin-bottom: -45px;
  margin-top: 80px;
  position: relative;
  }
  @media (max-width: 1024px) {
    .scard01 {
      width: 300px;
      height: 350px; 
    }
  }
  
  @media (max-width: 768px) {
    .scard01 {
      width: 100%;
      height: auto;
    }
  }
  .scard01-top{
    display: flex;
    flex-direction: column;
  }
  .scard01-btn button {
    padding: 20px;
    border-radius: 100px;
    border: none;
    color: white;
    background-color: var(--blue);
    position: absolute;
    top: 30px;    
    right: 30px;   
  }
  
  @media (max-width: 1024px) {
    .scard01-btn button {
      padding: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .scard01-btn button {
      top: 20px;
      right: 20px;
    }
  }
  .scard01 hr{
    margin-top: 20px;
    opacity: 50%;
    margin-bottom: 20px;
  }
  .scard01-image {
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .scard01-image img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.9s ease;
    
  }
  
  @media (max-width: 768px) {
    .scard01-image img {
      height: 220px;
    }
  }
  .scard01:hover .scard01-image img {
    transform: scale(1.2);
  }
 .ser01-card a{
  text-decoration: none;
  color: inherit;
 }
 .p1{
 color: var(--blue);
 background-color: transparent;
 font-size: 24px;
 font-weight: 500;
}
.banner-wb-content h1{
    font-size:20px;
    color:white;
    margin-bottom: 20px;
}

.banner-wb-content span{
    color: var(--blue);
    background-color: transparent;
}
.p2{
    background-color: transparent;
    color: white;
    font-size: 20px;
}
.banner-wb-b1{
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    color:white;
    
    background-color:var(--blue);
    margin-left: 30px;
    font-size: 16px;
    
}
.banner-wb-b1 a{
    color:white;
    text-decoration: none;
}
.ab-wb{
    display: flex;
    justify-content: center;
}
.about-wb{
    width: 85%;
    height: 800px;
    margin-top: 100px;
    flex-wrap: wrap;

}
@media (max-width: 1024px) {
.about-wb {
  height: auto;
}
}
@media (max-width: 768px) {
.about-wb {
  height: auto;
}
}

.about-wb-p1{
  font-size: 22px;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
.about-wb-p1 {
  font-size:18px ;
}
}
@media (max-width: 768px) {
.about-wb-p1 {
    font-size:18px ;
    margin-top: 60px;
}
}
.about-wb-h1{
  font-size:50px;
  margin-bottom: 20px;
  
}
@media (max-width: 768px) {
.about-wb-h1 {
    font-size:25px ;
}
}

.about-wb-image{
  width: 100%;
  height: 700px;
  display: flex;
}
@media (max-width: 768px) {
.about-wb-image {
    height: auto;
    display: block;
}
}
.image-wb{
  width: 50%;
  height:700px;
  
  display: flex;
  align-items: center;
  
  
}
@media (max-width: 1024px) {
.image-wb {
  height: auto;
}
}
@media (max-width: 768px) {
.image-wb {
  width: 100%;
  
    
}
}

.image-wb img{
  width: 85%;
  border-radius: 50px;
}
@media (max-width: 768px) {
.image-wb img {
  width: 100%;
    margin-top: 50px;
    margin-bottom: -150px;
    
}
}
.about-wb-content{
  width: 50%;
  height:700px;
  display: flex;
  align-items: center;
  
}
@media (max-width: 768px) {
.about-wb-content {
    width: 100%; 
    margin-bottom: -100px;
    height: 900px;
}
}
.about-wb-content-p1{
  font-size: 16px;
  color: rgb(151, 151, 151);
  line-height: 22px;
}


.about-wb-b1{
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  color: white;
  background-color: var(--blue);
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}